@page
@model AboutModel
@{
    ViewData["Title"] = "A origem da Família Andrade";
}
<h2>@ViewData["Title"]</h2>
<h3>Família Andrade.</h3>

<div>
    <p align="justify">
        No Brasil existem alguns sobrenomes que são mais populares que os outros. É certo de que alguns são muito específicos, o que não ocorre com o da família Andrade. Confira abaixo algumas curiosidades e informações sobre este sobrenome.
        O sobrenome Andrade, assim como tantos outros, não surgiu no Brasil, por uma simples razão de que o Brasil foi colonizado e habitado primeiramente por estrangeiros. Dessa forma, os sobrenomes vêm de outros países e acabam ganhando popularidade uma vez que os imigrantes fizeram do Brasil sua nova morada.
    </p>
    <h3>Origem da família Andrade</h3>
    <p align="justify">
        Sua origem é portuguesa, assim como grande parte dos sobrenomes populares no Brasil. Ele é classificado como toponímico, ou seja, de origem geográfica.
        Em Portugal descendem de Nuno Freire de Andrade, mestre da Ordem de Cristo, que passou a Portugal no reinado de Dom Pedro de Castela.
        Outra origem procede de um dos cinco cavaleiros que passaram a Espanha, na guerra dos mouros, com o conde D. Mendo. É seu solar a vila de Andrade, no reino de Galiza.
    </p>
    <h3>Curiosidades</h3>
    <p align="justify">
        Ao que parece, esta é uma família tradicional de Portugal. Eles são conhecidos por dominar áreas de Galiza.
        Basicamente, o significado do nome Andrade é topônimo do reino de Galiza.
        A família Andrade está associada a fortificações. Desse modo, é possível encontrar castelos e torres dos Andrade em suas comunidades de origem, na Espanha e em Portugal.
    </p>
    <h3>Variantes do sobrenome Andrade</h3>
    <p align="justify">
        Este sobrenome não possui muitas variantes. Geralmente o que pode se encontrar são pessoas com “de Andrade”. Não é possível que em outros países as variantes venham de traduções de Andrade, uma vez que este é um sobrenome bem próprio.
    </p>
    <h3> Em Sobral </h3>
    <p align="justify">
        Em 1757 Sobral já figurava como distrito, e foi elevado à categoria de vila com o nome de Sobral em 1773, e sua sede foi na povoação Caiçara, desmembrada de Fortaleza. Em 1841, foi elevado à categoria de cidade com o nome de Januária de Acaraú. Em 1842 o município Januária do Acaraú mudou o nome para Sobral. Em 1933 Sobral apareceu com 10 distritos: Sobral (sede), Caracará, Cariré, Forquilha, Meruoca, Riacho dos Guimarães, Santa Maria, Santo Antônio do Aracatiassu, São José e Taquira e em 1938 São José muda o nome para Patriarca.<br />
    <p align="justify">
        Importante polo sócio-cultural cearense, Sobral encontra-se a pouco mais de 230 quilômetros da capital, na região Norte do estado. O ano de 1712 é considerado para a maioria dos historiadores como o ano em que os arredores da fazenda Caiçara começaram a ser povoados. Mais tarde, em 1743, o Capitão Antonio Rodrigues Magalhães, então proprietário da fazenda, doou parte de suas terras visando a construção de uma Capela. Anos depois, a igreja de Nossa Senhora da Conceição passou a ser a Matriz da cidade de Sobral. Em 1773 a povoação Caiçara foi elevada à Vila Distinta e Real de Sobral. Em 1841 foi elevada à categoria de Cidade com o título de Fidelíssima Cidade Januária do Acaracú, pela Lei Provincial número 229 de 9 de janeiro e no ano seguinte passou a ser denominada Cidade de Sobral. O rio Acaraú e a Serra da Meruoca se destacam como ícones naturais na paisagem da cidade.<br />
    <p align="justify">
        Pode-se afirmar que a cidade foi escolhida por muitas famílias que deixaram o Recife em meados do século XVII após a Guerra contra os holandeses, lá se estabelecendo para viverem livre e pacificamente longe dos conflitos que assolavam a região àquela época. Contribuiu muito para seu progresso a proximidade de um ótimo porto natural, o de Camocim, que permitia a comercialização de produtos como a carne charqueada e a farinha, que eram levadas ao norte e sul do país por navios que faziam escala naquele ponto.<br />
    <p align="justify">
        As famílias povoadoras de então, acostumadas ao rigoroso labor na Capitania de origem, se adaptaram bem à região sobralense, conseguindo expandir com diligência os seus negócios num comércio bastante produtivo para a época. Alguns dedicaram-se à negociação do couro e outros ao ouro, chegando a produzir figuras sacras naquele precioso metal. Em 1887, a Estrada de Ferro Sobral – Camocim, construída a mando de Dom Pedro II, concretizou de forma definitiva a conexão do comércio circunvizinho com as cidades mais importantes do Brasil e da Europa.<br />
    </p>

    <h3>Brasão da Família Andrade</h3>
    <p align="justify">
        O brasão da família Andrade é basicamente constituído de uma faixa de vermelho que sai da boca de duas serpentes. O fundo é de cor amarela com um símbolo dos dois lados da faixa que fica na transversal, como pode ser visto na imagem.
    </p>
    <p></p>
</div>

<div class="item">
    <img width="220" height="180" style="max-width:100%;" srcset="~/images/Brasao1.jpg" class="form-horizontal" /> 
    <img width="220" height="180" style="max-width:100%;" srcset="~/images/Brasao2.jpg" class="form-horizontal" />
    <img width="220" height="180" style="max-width:100%;" srcset="~/images/Brasao3.jpg" class="form-horizontal" /> 
    <img width="220" height="180" style="max-width:100%;" srcset="~/images/Brasao4.jpg" class="form-horizontal" /> 
    <img width="220" height="180" style="max-width:100%;" srcset="~/images/Brasao5.jpg" class="form-horizontal" />
</div>
