@page
@model ContactModel
@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>Para maiores informações:</h3>  

<address>
    José Jeová Andrade Filho<br />
    Rua Monsenhor Bruno, 1055 - Ap 402, Aldeota<br />
    Fortaleza (CE) - CEP: 60115-191<br />
    <abbr title="Celular">Celular:</abbr>
    (85)-99954-3103
</address>

<address>
    <strong>Suporte:</strong> <a href="mailto:Support@example.com">jeovafilho@familiaandrade.net</a><br />
</address>
