@page
@model DemaisModel
@{
    ViewData["Title"] = "Demais Gerações";
}


<div class="row">
    <div class="col-md-4">
        <h4>Filhos de <b><a asp-page="/netosCaio"> Caio </a> Sander Andrade Portela</b></h4> 
        <ul>
            <li> <a asp-page="/bisnetos"> XXXXX </a> XXXXXXXXXX
            <li> <a asp-page="/bisnetos"> XXXXX </a> XXXXXXXXXX
            <li> <a asp-page="/bisnetos"> XXXXX </a> XXXXXXXXXX
        </ul>
    </div>
    <div class="col-md-4">
        <h4>Filhos de <b>Carlos <a asp-page="/netosSilvio"> Silvio </a> Andrade Portela</b></h4>
        <ul>
            <li> <a asp-page="/bisnetos"> XXXXX </a> XXXXXXXXXX
            <li> <a asp-page="/bisnetos"> XXXXX </a> XXXXXXXXXX
            <li> <a asp-page="/bisnetos"> XXXXX </a> XXXXXXXXXX
        </ul>
    </div>
    <div class="col-md-4">
        <h4>Filhos de <b>Cadmo <a asp-page="/netosMariadoCarmo"> Silton </a> Andrade Portela</b></h4> 
        <ul>
            <li> <a asp-page="/bisnetos"> XXXXX </a> XXXXXXXXXX
            <li> <a asp-page="/bisnetos"> XXXXX </a> XXXXXXXXXX
            <li> <a asp-page="/bisnetos"> XXXXX </a> XXXXXXXXXX
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h4>Filhos de <b>Carmem <a asp-page="/netosSandra"> Sandra </a> Andrade Portela</b></h4> 
        <ul>
            <li> <a asp-page="/bisnetos"> XXXXX </a> XXXXXXXXXX
            <li> <a asp-page="/bisnetos"> XXXXX </a> XXXXXXXXXX
            <li> <a asp-page="/bisnetos"> XXXXX </a> XXXXXXXXXX
        </ul>
    </div>
    <div class="col-md-4">
        <h4>Filhos de <b><a asp-page="/netosClaudio"> Cláudio </a> Stélio Andrade Portela</b></h4> 
        <ul>
            <li> <a asp-page="/bisnetos"> XXXXX </a> XXXXXXXXXX
            <li> <a asp-page="/bisnetos"> XXXXX </a> XXXXXXXXXX
            <li> <a asp-page="/bisnetos"> XXXXX </a> XXXXXXXXXX
        </ul>
    </div>
    <div class="col-md-4">
        <h4>Filhos de <b>Carla <a asp-page="/netosSoraia"> Soraia </a> Andrade Portela</b></h4>
        <ul>
            <li> <a asp-page="/bisnetos"> XXXXX </a> XXXXXXXXXX
            <li> <a asp-page="/bisnetos"> XXXXX </a> XXXXXXXXXX
            <li> <a asp-page="/bisnetos"> XXXXX </a> XXXXXXXXXX
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h4>Filhos de <b>Cátia <a asp-page="/netosSmenia"> Smênia </a> Andrade Portela</b></h4>
        <ul>
            <li> <a asp-page="/bisnetos"> XXXXX </a> XXXXXXXXXX
            <li> <a asp-page="/bisnetos"> XXXXX </a> XXXXXXXXXX
            <li> <a asp-page="/bisnetos"> XXXXX </a> XXXXXXXXXX
        </ul>
    </div>
    <div class="col-md-4">
        <h4>Filhos de <b><a asp-page="/netosJeovania"> Jeovânia </a> Maria Goersch Andrade Aragão</b></h4>
        <ul>
            <li> <a asp-page="/bisnetosSofia"> Sofia </a> Goersch Andrade Aragão
            <li> <a asp-page="/bisnetosGabriela"> Gabriela </a> Goersch Andrade Aragão
                <ul>
                    <li> <a asp-page="/demaisJulia"> Júlia </a> XXXXXXXXXX
                    <li> <a asp-page="/demaisMarina"> Marina </a> XXXXXXXXX
                </ul>
            <li> <a asp-page="/bisnetosIgor"> Igor </a> Goersch Andrade Aragão
            <li> <a asp-page="/bisnetosLucas"> Lucas </a> Goersch Andrade Aragão

        </ul>
    </div>
    <div class="col-md-4">
        <h4>Filhos de <b>José <a asp-page="/netosKarlos"> Karlos </a> Goersch Andrade</b></h4>
        <ul>
            <li> <a asp-page="/bisnetosRenatta"> Renatta </a> Amoedo Andrade
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h4>Filhos de <b><a asp-page="/netosGardenia"> Gardência </a> Goersch Andrade Parente</b></h4>
        <ul>
            <li> <a asp-page="/bisnetosGustavo"> Gustavo </a> Goersch Andrade Parente
            <li> <a asp-page="/bisnetosRenato"> Renato </a> Goersch Andrade Parente
        </ul>
    </div>
    <div class="col-md-4">
        <h4>Filhos de <b><a asp-page="/netosJorge"> Jorge </a> Goersch Andrade</b></h4>
        <ul>
            <li> <a asp-page="/bisnetosYuri"> Yuri </a> Goersch Ferreira Andrade
            <li> <a asp-page="/bisnetosLorena"> Lorena </a> Goersch Ferreira Andrade
            <li> <a asp-page="/bisnetos"> XXXXXX</a> XXXXXXXXXX
        </ul>
    </div>
    <div class="col-md-4">
        <h4>Filhos de <b><a asp-page="/netosJoseMaira"> José Maria </a> Goersch Andrade</b></h4>
        <ul>
            <li> <a asp-page="/bisnetosIsadora"> Isadora </a> Goersch Andrade
            <li> <a asp-page="/bisnetosIsabele"> ISabele </a> Goersch Andrade
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h4>Filhos de <b><a asp-page="/netosDoroteia"> Dorotéia </a> Goersch Andrade</b></h4>
        <ul>
            <li> <a asp-page="/bisnetosBianaca"> Bianca </a> Goersch Andrade
            <li> <a asp-page="/bisnetosJulia"> Júlia </a> Goersch Andrade
        </ul>
    </div>
    <div class="col-md-4">
        <h4>Filhos de <b>José <a asp-page="/netosJeova"> Jeová </a> Andrade Filho</b></h4>
        <ul>
            <li> José <a asp-page="/bisnetosJeova"> Jeová </a> Andrade Neto
            <li> <a asp-page="/bisnetosAnaKarisse"> Ana Karisse </a> de Carvalho Andrade
        </ul>
    </div>
    <div class="col-md-4">
        <h4>Filhos de <b><a asp-page="/netosElza"> Elza Maria </a> Goersch Andrade Frota</b></h4>
        <ul>
            <li> <a asp-page="/bisnetosAnanda"> Ananda </a> Goersch Andrade Frota
            <li> <a asp-page="/bisnetosFernando"> Fernando </a> Antonio Farias Frota Júnior
            <li> <a asp-page="/bisnetosBeatriz"> Beatriz </a> Goersch Andrade Frota
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h4>Filhos de <b><a asp-page="/netosCesar"> César </a> Henrique Goersch Andrade</b></h4>
        <ul>
            <li> <a asp-page="/bisnetosLivia"> Lívia </a> Goersch Andrade Martins
            <li> <a asp-page="/bisnetosIsabela"> Isabela </a> Goersch Andrade Martins
        </ul>
    </div>
    <div class="col-md-4">
        <h4>Filhos de <b><a asp-page="/netosAlex"> Alex </a> Goersch Andrade</b></h4>
        <ul>
            <li> <a asp-page="/bisnetosMurilo"> Murilo </a> Nascimento Goersch Andrade
            <li> <a asp-page="/bisnetosDanilo"> Danilo </a> Nascimento Goersch Andrade
        </ul>
    </div>
    <div class="col-md-4">
        <h4>Filhos de <b>Carlos <a asp-page="/netosSergio"> Sérgio </a> Andrade</b></h4>
        <ul>
            <li> <a asp-page="/bisnetos"> XXXXXX</a> XXXXXXXXXX
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h4>Filhos de <b><a asp-page="/netosStenio"> Stênio </a> Rubens Andrade</b></h4>
        <ul>
            <li> <a asp-page="/bisnetos"> XXXXXX</a> XXXXXXXXXX
        </ul>
    </div>
    <div class="col-md-4">
        <h4>Filhos de <b>Francisco <a asp-page="/netosAgenor"> Agenor </a> Andrade Júnior</b></h4>
        <ul>
            <li> <a asp-page="/bisnetos"> XXXXXX</a> XXXXXXXXXX
        </ul>
    </div>
    <div class="col-md-4">
        <h4>Filhos de <b><a asp-page="/netosPaulo"> Paulo </a> César Andrade</b></h4>
        <ul>
            <li> <a asp-page="/bisnetos"> XXXXXX</a> XXXXXXXXXX
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h4>Filhos de <b><a asp-page="/netosAlexandre"> Alexandre </a> Andrade</b></h4>
        <ul>
            <li> <a asp-page="/bisnetos"> XXXXXX</a> XXXXXXXXXX
        </ul>
    </div>
    <div class="col-md-4">
        <h4>Filhos de <b><a asp-page="/netosJamile"> Jamile </a> Silva Andrade</b></h4>
        <ul>
            <li> <a asp-page="/bisnetos"> XXXXXX</a> XXXXXXXXXX
        </ul>
    </div>
    <div class="col-md-4">
        <h4>Filhos de <b><a asp-page="/netosSolange"> Solange </a> Maria Melo Soares</b></h4>
        <ul>
            <li> <a asp-page="/bisnetos"> XXXXXX</a> XXXXXXXXXX
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h4>Filhos de <b><a asp-page="/netosSheila"> Sheila </a> Melo Vasconcelos</b></h4>
        <ul>
            <li> <a asp-page="/bisnetos"> XXXXXX</a> XXXXXXXXXX
        </ul>
    </div>
    <div class="col-md-4">
        <h4>Filhos de <b><a asp-page="/netosSelene"> Selene </a> Andrade Melo Soares</b></h4>
        <ul>
            <li> <a asp-page="/bisnetos"> XXXXXX</a> XXXXXXXXXX
        </ul>
    </div>
    <div class="col-md-4">
        <h4>Filhos de <b>Antonio <a asp-page="/netosRomulo"> Rômulo </a> Ribeiro Andrade</b></h4>
        <ul>
            <li> <a asp-page="/bisnetos"> XXXXXX</a> XXXXXXXXXX
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h4>Filhos de <b><a asp-page="/netosRuth"> Ruth </a> Ribeiro Andrade</b></h4>
        <ul>
            <li> <a asp-page="/bisnetos"> XXXXXX</a> XXXXXXXXXX
        </ul>
    </div>
    <div class="col-md-4">
        <h4>Filhos de <b>Fátima <a asp-page="/netosRachel"> Rachel </a> Ribeiro Andrade</b></h4>
        <ul>
            <li> <a asp-page="/bisnetos"> XXXXXX</a> XXXXXXXXXX
        </ul>
    </div>
    <div class="col-md-4">
        <h4>Filhos de <b><a asp-page="/netosAnaTely"> Ana Tely </a> Linhares Rodrigues</b></h4>
        <ul>
            <li> <a asp-page="/bisnetos"> XXXXXX</a> XXXXXXXXXX
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h4>Filhos de <b><a asp-page="/netosValeria"> Valéira </a> Andrade Linhares</b></h4>
        <ul>
            <li> <a asp-page="/bisnetos"> XXXXXX</a> XXXXXXXXXX
        </ul>
    </div>
    <div class="col-md-4">
        <h4>Filhos de Francisco <b><a asp-page="/netosKelva"> Kelva </a> Linhares Albuquerque</b></h4>
        <ul>
            <li> <a asp-page="/bisnetos"> XXXXXX</a> XXXXXXXXXX
        </ul>
    </div>
    <div class="col-md-4">
        <h4>Filhos de <b>Francisco <a asp-page="/netosMilton"> Milton </a> Mendes Neto</b></h4>
        <ul>
            <li> <a asp-page="/bisnetos"> XXXXXX</a> XXXXXXXXXX
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h4>Filhos de <b><a asp-page="/netosLiana"> Liana </a> Mendes de Sabóia</b></h4>
        <ul>
            <li> <a asp-page="/bisnetos"> XXXXXX</a> XXXXXXXXXX
        </ul>
    </div>
    <div class="col-md-4">
        <h4>Filhos de <b><a asp-page="/netosCamila"> Camila </a> Mendes Medeiros</b></h4>
        <ul>
            <li> <a asp-page="/bisnetos"> XXXXXX</a> XXXXXXXXXX
        </ul>
    </div>
    <div class="col-md-4">
        <h4>Filhos de <b><a asp-page="/netosThales"> Thales </a> Damasceno Andrade</b></h4>
        <ul>
            <li> <a asp-page="/bisnetos"> XXXXXX</a> XXXXXXXXXX
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h4>Filhos de <b><a asp-page="/netosThiago"> Thiago </a> Damasceno Andrade</b></h4>
        <ul>
            <li> <a asp-page="/bisnetos"> XXXXXX</a> XXXXXXXXXX
        </ul>
    </div>
    <div class="col-md-4">
        <h4>Filhos de <b>João <a asp-page="/netosEdsonFilho"> Edson </a> Andrade Filho</b></h4>
        <ul>
            <li> <a asp-page="/bisnetos"> XXXXXX</a> XXXXXXXXXX
        </ul>
    </div>
    <div class="col-md-4">
        <h4>Filhos de <b><a asp-page="/netosTatiana"> Tatiana </a> Feijão Andrade</b></h4>
        <ul>
            <li> <a asp-page="/bisnetos"> XXXXXX</a> XXXXXXXXXX
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h4>Filhos de <b><a asp-page="/netosLiliane"> Liliane </a> Parente Andrade</b></h4>
        <ul>
            <li> <a asp-page="/bisnetos"> XXXXXX</a> XXXXXXXXXX
        </ul>
    </div>
    <div class="col-md-4">
        <h4>Filhos de <b><a asp-page="/netosElane"> Elane </a> Andrade Storino</b></h4>
        <ul>
            <li> <a asp-page="/bisnetos"> XXXXXX</a> XXXXXXXXXX
        </ul>
    </div>
    <div class="col-md-4">
        <h4>Filhos de <b><a asp-page="/netosLidiane"> Lidiane </a> Parente Andrade</b></h4>
        <ul>
            <li> <a asp-page="/bisnetos"> XXXXXX</a> XXXXXXXXXX
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h4>Filhos de <b><a asp-page="/netosLarrisa"> Larrisa </a> Andrade Sousa</b></h4>
        <ul>
            <li> <a asp-page="/bisnetos"> XXXXXX</a> XXXXXXXXXX
        </ul>
    </div>
    <div class="col-md-4">
        <h4>Filhos de <b><a asp-page="/netosIsabelle"> Isabelle </a> Andrade Sousa</b></h4>
        <ul>
            <li> <a asp-page="/bisnetos"> XXXXXX</a> XXXXXXXXXX
        </ul>
    </div>
    <div class="col-md-4">
        <h4>Filhos de <b><a asp-page="/netosDaniele"> Daniele </a> Andrade Sousa</b></h4>
        <ul>
            <li> <a asp-page="/bisnetos"> XXXXXX</a> XXXXXXXXXX
        </ul>
    </div>
</div>