@page
@model FilhosModel
@{
    ViewData["Title"] = "Filhos";
}

<div class="row">
    <div class="col-md-5">
        <h3>Filhos do primeiro matrimônio</h3>
        <ul>
            <li> Maria <a asp-page="/filhosConceicao"> Conceição </a> Andrade Portela <sub>"In Memorian"</sub>
            <li> José <a asp-page="/filhosJeova"> Jeová </a> Andrade
            <li> <a asp-page="/filhosMariadoCarmo"> Maria do Carmo </a> Andrade <sub>"In Memorian"</sub>
            <li> <a asp-page="/filhosAntonio"> Antonio </a> Teles Andrade <sub>"In Memorian"</sub>
            <li> <a asp-page="/filhosFloranise"> Florinda Nise </a> Andrade Melo <sub>"In Memorian"</sub>
            <li> <a asp-page="/filhosFlorismar"> Florismar </a> Andrade Linhares
            <li> <a asp-page="/filhosMariaJose"> Maria José </a> Andrade
            <li> João <a asp-page="/filhosEdson"> Edson </a> Andrade
            <li> Francisco <a asp-page="/filhosEdmilson"> Edmilson </a> Andrade <sub>"In Memorian"</sub>
            <li> Pedro <a asp-page="/filhosEdilson"> Edilson </a> Andrade
            <li> <a asp-page="/filhosIsabel"> Isabel </a> Andrade
        </ul>
    </div>
    <div class="col-md-5">
        <h3>Filhos do segundo matrimônio</h3>
        <ul>
            <li> Maria <a asp-page="/filhosMariaTely"> Tely </a> Amaro Andrade
            <li> <a asp-page="/filhosWashington"> Washington </a> Luiz Amaro Andrade
            <li> <a asp-page="/filhosAna"> Ana </a> Lourdes Amaro Andrade
            <li> Francisco <a asp-page="/filhosWilian"> Wilian </a> Amaro Andrade
            <li> <a asp-page="/filhosWeliton"> Weliton </a> Amaro Andrade
            <li> <a asp-page="/filhosWelton"> Welton </a> Amaro Andrade
            <li> <a asp-page="/filhosLuana"> Luana </a> Amaro Andrade
            <li> <a asp-page="/filhosSilvana"> Silvana </a> Amaro Andrade
            <li> <a asp-page="/filhosGeorge"> George </a> Amaro Andrade
            <li> <a asp-page="/filhosGiovani"> Giovani </a> Amaro Andrade
        </ul>
    </div>
</div>
