@page
@model IndexModel
@{
    ViewData["Title"] = "Família de Jeová Andrade";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
        <li data-target="#myCarousel" data-slide-to="6"></li>
        <li data-target="#myCarousel" data-slide-to="7"></li>
        <li data-target="#myCarousel" data-slide-to="8"></li>
        <li data-target="#myCarousel" data-slide-to="9"></li>
        <li data-target="#myCarousel" data-slide-to="10"></li>
        <li data-target="#myCarousel" data-slide-to="10"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/FamiliaJeovaElzaGenros.svg" />
            <div class="carousel-caption" role="option">
                <p>
                   Família de Jeová Andrade e Elza Goersch.
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/FamiliaJeovania.svg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                   Jeovânia Maria Goersch Andrade Aragão.
                <p>
                   <a class="btn btn-default" asp-page="/netosJeovania">
                   Saiba mais.
                   </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/FamiliaKarlos.svg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                   José Karlos Goersch Andrade.
                <p>
                   <a class="btn btn-default" asp-page="/netosKarlos">
                   Saiba mais.
                   </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/FamiliaGardenia.svg" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                   Gardênia Goersch Andrade Parente.
                <p>   
                   <a class="btn btn-default" asp-page="/netosGardenia">
                   Saiba mais.
                   </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/FamiliaJorge.svg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                   Jorge Goersch Andrade.
                <p>
                   <a class="btn btn-default" asp-page="/netosJorge">
                   Saiba mais.
                   </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/FamiliaJoseMaria.svg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                   José Maria Goersch Andrade.
                <p>
                   <a class="btn btn-default" asp-page="/netosJoseMaria">
                   Saiba mais.
                   </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/FamiliaDoroteia.svg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                   Dorotéia Goersch Andrade Mira.
                <p>
                   <a class="btn btn-default" asp-page="/netosDoroteia">
                   Saiba mais.
                   </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/FamiliaJeovaFilho.svg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                   José Jeová Andrade Filho.
                <p>
                   <a class="btn btn-default" asp-page="/netosJeovaFilho">
                   Saiba mais.
                   </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/FamiliaElzinha.svg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                   Elza Maria Goersch Andrade Frota.
                <p>
                   <a class="btn btn-default" asp-page="/netosElzaMaria">
                   Saiba mais.
                   </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/FamiliaCesar.svg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                   César Henrique Goersch Andrade.
                <p>
                   <a class="btn btn-default" asp-page="/netosCesar">
                   Saiba mais.
                   </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/FamiliaAlex.svg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                   Alex Goersch Andrade.
                <p>
                   <a class="btn btn-default" asp-page="/netosAlex">
                   Saiba mais.
                   </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/FamiliaPatriarca.png" />
            <div class="carousel-caption" role="option">
                <p>
                   Raimundo Soares Andrade e família.
                <p>
                   <a class="btn btn-default" asp-page="/Index">
                   Saiba mais.
                   </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Filhos</h2>
        <ul>
            <li> <a asp-page="/netosJeovania"> Jeovânia </a> Maria Goersch Andrade
            <li> José <a asp-page="/netosKarlos"> Karlos </a> Goersch Andrade
            <li> <a asp-page="/netosGardenia"> Gardênia </a> Goersch Andrade
            <li> <a asp-page="/netosJorge"> Jorge </a> Goersch Andrade
            <li> <a asp-page="/netosJoseMaria"> José Maria </a> Goersch Andrade
            <li> <a asp-page="/netosDoroteia"> Dorotéia </a> Goersch Andrade
            <li> José <a asp-page="/netosJeovaFilho"> Jeová </a> Andrade Filho
            <li> <a asp-page="/netosElzaMaria"> Elza </a> Maria Goersch Andrade
            <li> <a asp-page="/netosCesar"> César </a> Henrique Goersch Andrade
            <li> <a asp-page="/netosAlex"> Alex </a> Goersch Andrade
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Netos</h2>
        <ul>
            <li> <a asp-page="/bisnetosSofia"> Sofia </a> Goersch Andrade Aragão
            <li> <a asp-page="/bisnetosGabriela"> Gabriela </a> Goersch Andrade Aragão
            <li> <a asp-page="/bisnetosGustavo"> Gustavo </a> Goersch Andrade Parente
            <li> <a asp-page="/bisnetosIgor"> Igor </a> Goersch Andrade Aragão
            <li> <a asp-page="/bisnetosYuri"> Yuri </a> Goersch Ferreira Andrade
            <li> José <a asp-page="/bisnetosJeovaNeto"> Jeová </a> Andrade Neto
            <li> <a asp-page="/bisnetosRenatta"> Renatta </a> Amoedo Andrade
            <li> <a asp-page="/bisnetosLorena"> Lorena </a> Goersch Ferreira Andrade
            <li> <a asp-page="/bisnetosAnanda"> Ananda </a> Goersch Andrade Frota
            <li> <a asp-page="/bisnetosRenato"> Renato </a> Goersch Andrade Parente
            <li> <a asp-page="/bisnetosAnaKarisse"> Ana Karisse </a> de Carvalho Andrade
            <li> <a asp-page="/bisnetosFernando"> Fernando </a> Antonio Farias Frota Júnior
            <li> <a asp-page="/bisnetosLucas"> Lucas </a> Goersch Andrade Aragão
            <li> <a asp-page="/bisnetosJorge"> Jorge </a> Goersch Andrade
            <li> <a asp-page="/bisnetosBeatriz"> Beatriz </a> Goersch Andrade Frota
            <li> <a asp-page="/bisnetosIsabele"> Isabele </a> Goersch Andrade
            <li> <a asp-page="/bisnetosIsadora"> Isadora </a> Goersch Andrade
            <li> <a asp-page="/bisnetosBianca"> Bianca </a> Goersch Andrade
            <li> <a asp-page="/bisnetosJulia"> Julia </a> Goersch Andrade
            <li> <a asp-page="/bisnetosLivia"> Lívia </a> Goersch Andrade Martins
            <li> <a asp-page="/bisnetosIsabela"> Isabela </a> Goersch Andrade Martins
            <li> <a asp-page="/bisnetosMurilo"> Murilo </a> Nascimento Goersch Andrade
            <li> <a asp-page="/bisnetosDanilo"> Danilo </a> Nascimento Goersch Andrade
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Bisnetos</h2>
        <ul>
            <li> <a asp-page="/demaisJulia"> Júlia </a> Aragão de Castro
            <li> <a asp-page="/demaisMarina"> Marina </a> Aragão de Castro
        </ul>
    </div>
</div>
<div>
    <h3>Biografia de José Jeová Andrade</h3>
    <p align="justify">
        Nasceu em São José, no Ceará, no dia 21/07/1935, filho de <a asp-page="/Patriarca"> Raimundo </a> Soares Andrade e Antonia Tely
        Menezes Andrade, estudou em Massapê (CE) e em Sobral (CE), e em 1950 ingressou no Seminário São José em Sobral (CE).
    </p>
    <p align="justify">
        Em 1960 casou-se com <a asp-page="/genrosElza"> Elza </a> Goersch Andrade que têem 10 filhos, onde 09 nasceram em Sobral (CE) e
        o caçula nasceu em Belém (PA).
    </p> 
</div>

