@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
        <li data-target="#myCarousel" data-slide-to="6"></li>
        <li data-target="#myCarousel" data-slide-to="7"></li>
        <li data-target="#myCarousel" data-slide-to="8"></li>
        <li data-target="#myCarousel" data-slide-to="9"></li>
        <li data-target="#myCarousel" data-slide-to="10"></li>
        <li data-target="#myCarousel" data-slide-to="11"></li>
        <li data-target="#myCarousel" data-slide-to="12"></li>
        <li data-target="#myCarousel" data-slide-to="13"></li>
        <li data-target="#myCarousel" data-slide-to="14"></li>
        <li data-target="#myCarousel" data-slide-to="15"></li>
        <li data-target="#myCarousel" data-slide-to="16"></li>
        <li data-target="#myCarousel" data-slide-to="17"></li>
        <li data-target="#myCarousel" data-slide-to="18"></li>
        <li data-target="#myCarousel" data-slide-to="19"></li>
        <li data-target="#myCarousel" data-slide-to="20"></li>
        <li data-target="#myCarousel" data-slide-to="21"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/FamiliaPatriarca.png" />
            <div class="carousel-caption" role="option">
                <p>
                   Raimundo Soares Andrade e família.
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/FamiliaConceicao.png" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                   Maria da Conceição Andrade e família.
                <p>
                   <a class="btn btn-default" asp-page="/filhosConceicao"> Saiba mais.
                   </a> 
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/FamiliaJeova.svg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                   José Jeová Andrade e família.
                <p>
                   <a class="btn btn-default" asp-page="/filhosJeova">
                   Saiba mais.
                   </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/FamiliaMariadoCarmo.png" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                   Maria do Carmo Andrade e família.
                <p>
                   <a class="btn btn-default" asp-page="/filhosMariadoCarmo">
                   Saiba mais.
                   </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/FamiliaAntonio.png" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                   Antônio Teles M de Andrade e família.
                <p>
                   <a class="btn btn-default" asp-page="/filhosAntonio">
                   Saiba mais.
                   </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Familiaflorismar.png" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                   Florinda Nise Andrade Melo e família.
                <p>
                   <a class="btn btn-default" asp-page="/filhosFlorismar">
                   Saiba mais,
                   </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/FamiliaMariaJose.png" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                   Florismar Andrade Linhares e família.
                <p>
                   <a class="btn btn-default" asp-page="/filhosMariaJose">
                   Saiba mais.
                   </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/FamiliaEdson.png" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                   João Edson Andrade e família.
                <p>
                   <a class="btn btn-default" asp-page="/filhosEdson">
                   Saiba mais.
                   </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/FamiliaEdmilson.png" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                   Francisco Edmilson Andrade e família.
                <p>
                   <a class="btn btn-default" asp-page="/filhosEdmilson">
                   Saiba mais.
                   </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/FamiliaEdilson.png" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                   Pedro Edilson Andrade e família.
                <p>
                   <a class="btn btn-default" asp-page="/filhosEdilson">
                   Saiba mais.
                   </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/FamiliaIsabel.png" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                   Isabel Andrade e família.
                <p>
                   <a class="btn btn-default" asp-page="/filhosIsabel">
                   Saiba mais.
                   </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/FamiliaMariaTely.png" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                   Maria Tely Amaro Andrade e família.
                <p>
                   <a class="btn btn-default" asp-page="/filhosTely">
                   Saiba mais.
                   </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/FamiliaWashington.png" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                   Washington Luís Amaro Andrade e família.
                <p>
                   <a class="btn btn-default" asp-page="/filhosWashington">
                   Saiba mais.
                   </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/FamiliaAna.png" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                   Ana Lourdes Amaro Andrade e família.
                <p>
                   <a class="btn btn-default" asp-page="/filhosAna">
                   Saiba mais.
                   </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/FamiliaWilian.png" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                   Francisco Wilian Amaro Andrade e família.
                <p>
                   <a class="btn btn-default" asp-page="/filhosWillian">
                   Saiba mais.
                   </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/FamiliaWelington.png" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                   José Welington Amaro Andrade e família.
                <p>
                   <a class="btn btn-default" asp-page="/filhosWellington">
                   Saiba mais.
                   </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/FamiliaWelton.png" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                   Raimundo Welton Amaro Andrade e família.
                <p>
                   <a class="btn btn-default" asp-page="/filhosWelton">
                   Saiba mais.
                   </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/FamiliaLuana.png" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                   Luana Amaro Andrade e família.
                <p>
                   <a class="btn btn-default" asp-page="/filhosLuana">
                   Saiba mais.
                   </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/FamiliaSilvana.png" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                   Silvana Amaro Andrade e família.
                <p>
                   <a class="btn btn-default" asp-page="/filhosSilvana">
                   Saiba mais.
                   </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/FamiliaGeorge.png" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                   George Amaro Andrade e família.
                <p>
                   <a class="btn btn-default" asp-page="/filhosGeorge">
                   Saiba mais.
                   </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/FamiliaGiovani.png" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                   Giovani Amaro Andrade e família.
                <p>
                   <a class="btn btn-default" asp-page="/filhosGiovani">
                   Saiba mais.
                   </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div>
    <h3>Biografia de Raimundo Soares Andrade</h3>
    <p align="justify">
        Nasceu em 01/01/1905, filho de <b>João Gomes de Andrade</b> e <b>Lourdes ...</b>, na cidade de <b>Massapê (CE)</b>, não frequentou escola mas sempre foi um homem
        muito trabalhador e responsável e em 1933 casou-se com <b>Antonia Tely Menezes de Andrade</b>, com a qual tiveram 11 filhos.
<p />
    <p align="justify">
        Casaram-se e foram morar em <b>São José</b>, conhecida como São José da Mutuca, na fazenda de seu primo, Sr. Antonio Gomes, e lá nasceram a <b>Conceição</b>,
        <b>Jeová</b>, <b>Carninha</b>, <b>Florinda Nise</b>, <b>Antonio</b>, <b>Florismar</b> e <b>Maria José</b>. Com a municipalização de Sobral, São José passa a ser distrito de Sobral e
        a se chamar de Patriarca trabalhava como vaqueiro e ganhava a renda por sorte, de cada 05 animais ele ganhava 01. Lá não tinha parteira e os
        partos foram realizados pela "Mãe Preta", uma ex-escrava negra.
<p />
<p align="justify">
    Adquiriu a fazenda <b>Carro Quebrado</b>, assim chamado depois que um carro de boi quebrou no meio da estrada e passou a ser referência dos moradores
    da região, por meio da venda de seu gado. A fazenda pertencia ao município de Massapê (CE), e lá nasceu o <b>Edson</b>, passaram a estudar em Massapê.
    Com a produção de leite começou a criar porco, carneiro e bode.
<p />
    <p align="justify">
        Depois adquiriu a fazenda "<b>Escondido</b>" onde lá nasceram <b>Edmilson</b>, <b>Edilson</b> e <b>Isabel</b>.
<p />

</div>

