@page
@model AniversarioModel
@{
    ViewData["Title"] = "Aniversáriantes de Agosto";
}
<h4>@ViewData["Title"]</h4>

<div>
    <div class="row">
        <div class="col-md-5">
            <ul>
                <li> <h4>Dia Nome </h4>
                <li> 02 <a asp-page="/genrosVanessa"> Vanessa </a> Nascimento
                <li> 03 <a asp-page="/demaisClarisse"> Clarisse </a> Mendes Portella
                <li> 08 <a asp-page="/demaisIsabelleCoelho"> Isabelle </a> Coelho Andrade
                <li> 08 <a asp-page="/demaisLara"> Lara </a> Melo Vasconcelos
                <li> 08 <a asp-page="/demaisNatalia"> Natália </a> Andrade Veras
                <li> 09 <a asp-page="/netosPaulo"> Paulo </a> César Andrade
                <li> 10 <a asp-page="/demaisNatacha"> Natacha </a> Bezerra Andrade
                <li> 11 <a asp-page="/filhosGiovani"> Giovani </a> Amaro Andrade
                <li> 12 Fatima <a asp-page="/netosRachel"> Rachel </a> Ribeiro Andrade
                <li> 12 Maria <a asp-page="/filhosIsabel"> Isabel </a> Andrade
                <li> 14 <a asp-page="/genrosAndre"> André </a> Coimbra Storino
                <li> 16 <a asp-page="/netosElane"> Elane </a> Andrade Storino
                <li> 20 Edler <a asp-page="/genrosGraça"> Graça </a> Amoedo Correia Andrade
                <li> 20 <a asp-page="/netosTatiana"> Tatiana </a> Feijão Andrade
                <li> 22 <a asp-page="/demaisAnaVirginia"> Ana Virginia </a> Tomaz Portella
                <li> 30 <a asp-page="/demaisGabriela"> Gabriela </a> Andrade Storino
                <li> 30 <a asp-page="/demaisGiovanni"> Giovanni </a> Andrade Storino
                <li> 31 <a asp-page="/demaisAndrePortella"> André </a> Portella Costa
            </ul>
        </div>
        <div class="row">
            <div class="col-md-offset-10">
                <h4>Consultar outro mês.</h4>
                <ul>
                    <li> <a asp-page="/mesJaneiro"> Janeiro </a>
                    <li> <a asp-page="/mesFevereiro"> Fevereiro </a>
                    <li> <a asp-page="/mesMarço"> Março </a>
                    <li> <a asp-page="/mesAbril"> Abril </a>
                    <li> <a asp-page="/mesMaio">  Maio </a>
                    <li> <a asp-page="/mesJunho">  Junho </a>
                    <li> <a asp-page="/mesJulho">  Julho </a>
                    <li> <a asp-page="/mesAgosto">  Agosto </a>
                    <li> <a asp-page="/mesSetembro">  Setembro </a>
                    <li> <a asp-page="/mesOutubro">  Outubro </a>
                    <li> <a asp-page="/mesNovembro">  Novembro </a>
                    <li> <a asp-page="/mesDezembro">  Dezembro </a>
                </ul>
            </div>
        </div>
