@page
@model AniversarioModel
@{
    ViewData["Title"] = "Aniversáriantes de Dezembro";
}
<h4>@ViewData["Title"]</h4>

<div>
    <div class="row">
        <div class="col-md-4">
            <ul>
                <li> <h4>Dia Nome </h4>
                <li> 06 <a asp-page="/IsabelleSousa"> Isabelle </a> Andrade Souza
                <li> 11 <a asp-page="/JoaoVictor"> João Víctor </a> Melo Sales
                <li> 12 <a asp-page="/Italo"> Ítalo </a> Linhares Rodrigues
                <li> 12 <a asp-page="/Safira"> Safira </a> Gomes Portella
                <li> 15 <a asp-page="/Bianca"> Bianca </a> Andrade Mira
                <li> 15 <a asp-page="/Eliana"> Eliana </a> Damasceno Andrade
                <li> 16 <a asp-page="/Carminha"> Maria do Carmo </a> Andrade (In memorian)
                <li> 16 <a asp-page="/Sheila"> Sheila </a> Melo Vasconcelos
                <li> 17 Francisco <a asp-page="/EdilsonAragao"> Edilson </a> Ponte Aragão
                <li> 17 <a asp-page="/Inacio"> Inácio </a> Andrade Sousa de Loiola
                <li> 17 <a asp-page="/Larissa"> Larissa </a> Andrade Sousa
                <li> 18 <a asp-page="/Kelva"> Kelva </a> Linhares Albuquerque
                <li> 19 <a asp-page="/Natalia"> Natália </a> Linhares Rodrigues
                <li> 20 <a asp-page="/Helena"> Helena </a> Ferreira Andrade
                <li> 21 <a asp-page="/Emanuel"> Emanuel </a> Andrade Linhares
                <li> 22 <a asp-page="/Adrian"> Adrian </a> Andrade Rigatti
                <li> 26 <a asp-page="/Solange"> Solange </a> Melo Soares
                <li> 28 <a asp-page="/Stenio"> Stênio </a> Rubens Andrade
                <li> 29 <a asp-page="/Antonino"> Antonino </a> Melo
                <li> 30 José <a asp-page="/JeovaNeto"> Jeová </a> Andrade Neto
        </div>
    <div class="row">
        <div class="col-md-offset-10">
            <h4>Consultar outro mês.</h4>
            <ul>
                <li> <a asp-page="/mesJaneiro"> Janeiro </a>
                <li> <a asp-page="/mesFevereiro"> Fevereiro </a>
                <li> <a asp-page="/mesMarço"> Março </a>
                <li> <a asp-page="/mesAbril"> Abril </a>
                <li> <a asp-page="/mesMaio">  Maio </a>
                <li> <a asp-page="/mesJunho">  Junho </a>
                <li> <a asp-page="/mesJulho">  Julho </a>
                <li> <a asp-page="/mesAgosto">  Agosto </a>
                <li> <a asp-page="/mesSetembro">  Setembro </a>
                <li> <a asp-page="/mesOutubro">  Outubro </a>
                <li> <a asp-page="/mesNovembro">  Novembro </a>
                <li> <a asp-page="/mesDezembro">  Dezembro </a>
            </ul>
        </div>
    </div>
</div>