@page
@model AniversarioModel
@{
    ViewData["Title"] = "Aniversáriantes de Fevereiro";
}
<h4>@ViewData["Title"]</h4>

<div>
    <div class="row">
        <div class="col-md-5">
            <ul>
                <li> <h4>Dia Nome </h4>
                <li> 01 <a asp-page="/Lucineide"> Lucineide </a> Gomes Portela
                <li> 02 <a asp-page="/Tarik"> Tarik </a> Olivar Nunes Valente
                <li> 07 <a asp-page="/Liliane"> Liliane </a> Andrade Nunes Valente
                <li> 11 Antonia <a asp-page="/AntoniaTely"> Tely </a> Menezes Andrade (In memorian)
                <li> 12 <a asp-page="/Cesar"> César </a> Henrique Goersch Andrade
                <li> 13 Ana <a asp-page="/Camila"> Camila </a> Andrade Veras
                <li> 15 <a asp-page="/Alessa"> Alessa </a> Linhares Mesquita
                <li> 16 <a asp-page="/AnaTely"> Ana Tely </a> Linhares Rodrigues
                <li> 17 <a asp-page="/Selene"> Selene </a> Maria Melo Sales
                <li> 18 Maria <a asp-page="/IsabelBarreira"> Isabel </a> Barreira Portella
                <li> 22 <a asp-page="/Elza"> Elza </a> Goersch Andrade
                <li> 22 <a asp-page="/Tercia"> Tércia </a> Bezerra Andrade
                <li> 23 <a asp-page="/Alan"> Alan </a> Vasconcelos Andrade
                <li> 24 Cadmo <a asp-page="/Silton"> Silton </a> Andrade Portela Filho
                <li> 28 <a asp-page="/Roberto"> Roberto </a> Alves Vasconcelos
            </ul>
        </div>
    <div class="row">
        <div class="col-md-offset-10">
            <h4>Consultar outro mês.</h4>
            <ul>
                <li> <a asp-page="/mesJaneiro"> Janeiro </a>
                <li> <a asp-page="/mesFevereiro"> Fevereiro </a>
                <li> <a asp-page="/mesMarço"> Março </a>
                <li> <a asp-page="/mesAbril"> Abril </a>
                <li> <a asp-page="/mesMaio">  Maio </a>
                <li> <a asp-page="/mesJunho">  Junho </a>
                <li> <a asp-page="/mesJulho">  Julho </a>
                <li> <a asp-page="/mesAgosto">  Agosto </a>
                <li> <a asp-page="/mesSetembro">  Setembro </a>
                <li> <a asp-page="/mesOutubro">  Outubro </a>
                <li> <a asp-page="/mesNovembro">  Novembro </a>
                <li> <a asp-page="/mesDezembro">  Dezembro </a>
            </ul>
        </div>
    </div>
