@page
@model IndexModel
@{
    ViewData["Title"] = "Aniversáriantes de Janeiro";
}
<h4>@ViewData["Title"]</h4>

<div>
    <div class="row">
        <div class="col-md-5">
            <ul>
                <li> <h4>Dia Nome </h4>
                <li> 01 <a asp-page="/Raimundo"> Raimundo </a> Soares Andrade
                <li> 01 <a asp-page="/Renatta"> Renatta </a> Amoedo Andrade
                <li> 03 <a asp-page="/Marilia"> Marília </a> A Mendes de Sabóia
                <li> 03 <a asp-page="/Yuri"> Yuri </a> Ferreira Andrade
                <li> 04 Francisco <a asp-page="/Edmilson"> Edmilson </a> Andrade (In memorian)
                <li> 05 <a asp-page="/Gorette"> Gorette </a> Bezerra Andrade
                <li> 05 <a asp-page="/Kenedy"> Kenedy </a> Carneiro Veras Júnior
                <li> 05 Raimundo <a asp-page="/Welton"> Welton </a> Amaro Andrade
                <li> 06 <a asp-page="/Tiago"> Tiago </a> Damasceno Andrade
                <li> 09 <a asp-page="/Silvana"> Silvana </a> Amaro Andrade
                <li> 11 Maria da <a asp-page="/Conceição"> Conceição </a> Andrade Portela (In memorian)
                <li> 13 Carlos <a asp-page="/Sergio"> Sérgio </a> Andrade
                <li> 16 <a asp-page="/Leonardo"> Leonardo </a> Barreira Portela
                <li> 17 <a asp-page="/Arlan"> Arlan </a> Mendes Mesquita
                <li> 18 <a asp-page="/Claudio"> Cláudio </a> Stélio Andrade Portela
                <li> 18 Francisco <a asp-page="/Milton"> Milton </a> Mendes Neto
                <li> 18 <a asp-page="/Helio"> Hélio </a> Soares Neto
                <li> 22 Cátia <a asp-page="/Smenia"> Smênia </a> Andrade Portela Gurgel
                <li> 26 <a asp-page="/Isadora"> Isadora </a> Coelho Andrade
                <li> 26 <a asp-page="/Raquel"> Raquel </a> Silva Andrade
                <li> 27 <a asp-page="/Riades"> Ríades </a> Ribeiro Andrade
            </ul>
        </div>
        <div class="row">
            <div class="col-md-offset-10">
                <h4>Consultar outro mês.</h4>
                <ul>
                    <li> <a asp-page="/mesJaneiro"> Janeiro </a>
                    <li> <a asp-page="/mesFevereiro"> Fevereiro </a>
                    <li> <a asp-page="/mesMarço"> Março </a>
                    <li> <a asp-page="/mesAbril"> Abril </a>
                    <li> <a asp-page="/mesMaio">  Maio </a>
                    <li> <a asp-page="/mesJunho">  Junho </a>
                    <li> <a asp-page="/mesJulho">  Julho </a>
                    <li> <a asp-page="/mesAgosto">  Agosto </a>
                    <li> <a asp-page="/mesSetembro">  Setembro </a>
                    <li> <a asp-page="/mesOutubro">  Outubro </a>
                    <li> <a asp-page="/mesNovembro">  Novembro </a>
                    <li> <a asp-page="/mesDezembro">  Dezembro </a>
                </ul>
            </div>
        </div>
