@page
@model AniversarioModel
@{
    ViewData["Title"] = "Aniversáriantes de Julho";
}
<h4>@ViewData["Title"]</h4>

<div>
    <div class="row">
        <div class="col-md-5">
            <ul>
                <li> <h4>Dia Nome </h4>
                <li> 01 <a asp-page="/Larissa"> Larissa </a> (Cláudio)
                <li> 04 <a asp-page="/Gabriela"> Gabriela </a> Andrade Aragão
                <li> 04 <a asp-page="/Leonardo"> Leonardo </a> A Mendes Medeiro
                <li> 05 João <a asp-page="/Edson"> Edson </a> Andrade
                <li> 06 <a asp-page="/Mauro">  Mauro </a> Liandro Rigath
                <li> 06 <a asp-page="/Washington">  Washington </a> Luís Amaro Andrade
                <li> 07 <a asp-page="/Gisele">  Gisele </a> Melo Soares
                <li> 07 <a asp-page="/MuriloJatene">  Murilo </a> Jatene
                <li> 08 Antonia <a asp-page="/Tely">  Tely </a> Andrade
                <li> 09 <a asp-page="/IsabelaValente">  Isabela </a> Andrade Valente
                <li> 14 Cadmo <a asp-page="/Silton">  Silton </a> Andrade Portella
                <li> 16 <a asp-page="/AnaGloria">  Ana Glória </a> L Andrade
                <li> 16 <a asp-page="/Marcia">  Márcia </a> Martins Andrade
                <li> 18 <a asp-page="/Raphael"> Raphael </a> M Vasconcelos
                <li> 21 <a asp-page="/Ivo">  Ivo </a>
                <li> 21 José <a asp-page="/Jeova"> Jeová </a> Andrade
                <li> 22 <a asp-page="/Dorotéia"> Dorotéia </a> Goersch Andrade
                <li> 24 <a asp-page="/Elcia"> Élcia </a> Mendes Portella
                <li> 25 <a asp-page="/Pedro"> Pedro </a> Barreira Portella
                <li> 28 José <a asp-page="/JeovaFilho"> Jeová </a> Andrade Filho
                <li> 28 <a asp-page="/PedroAlbuquerque"> Pedro </a> L Albuquerque
                <li> 31 <a asp-page="/Alfredo"> Alfredo </a> J. Borges Guerra
            </ul>
        </div>
        <div class="row">
            <div class="col-md-offset-10">
                <h4>Consultar outro mês.</h4>
                <ul>
                    <li> <a asp-page="/mesJaneiro"> Janeiro </a>
                    <li> <a asp-page="/mesFevereiro"> Fevereiro </a>
                    <li> <a asp-page="/mesMarço"> Março </a>
                    <li> <a asp-page="/mesAbril"> Abril </a>
                    <li> <a asp-page="/mesMaio">  Maio </a>
                    <li> <a asp-page="/mesJunho">  Junho </a>
                    <li> <a asp-page="/mesJulho">  Julho </a>
                    <li> <a asp-page="/mesAgosto">  Agosto </a>
                    <li> <a asp-page="/mesSetembro">  Setembro </a>
                    <li> <a asp-page="/mesOutubro">  Outubro </a>
                    <li> <a asp-page="/mesNovembro">  Novembro </a>
                    <li> <a asp-page="/mesDezembro">  Dezembro </a>
                </ul>
            </div>
        </div>
    </div>