@page
@model AniversarioModel
@{
    ViewData["Title"] = "Aniversáriantes de Março";
}
<h4>@ViewData["Title"]</h4>

<div>
    <div class="row">
        <div class="col-md-5">
            <ul>
                <li> <h4>Dia Nome </h4>
                <li> 01 <a asp-page="/Luana"> Luana </a> Oliveira Andrade
                <li> 01 <a asp-page="/Sofia"> Sofia </a> Goersch Andrade Aragão
                <li> 02 <a asp-page="/Neusa"> Neusa </a> Amaro Andrade (In memorian)
                <li> 03 <a asp-page="/DaniloCosta"> Danilo </a> Dias Costa
                <li> 06 <a asp-page="/Ismonia"> Ismônia </a> Brito Andrade
                <li> 08 <a asp-page="/Alexandre"> Alexandre </a> Andrade
                <li> 10 <a asp-page="/Edvaldo"> Edvaldo </a> Ribeiro Andrade
                <li> 10 <a asp-page="/Gardenia"> Gardênia </a> Goersch Andrade Parente
                <li> 10 José <a asp-page="/Karlos"> Karlos </a> Goersch Andrade
                <li> 12 <a asp-page="/Ananda"> Ananda </a> Goersch Andrade Frota
                <li> 15 <a asp-page="/Alana"> Alana </a> Melo Vasconcelos
                <li> 21 <a asp-page="/Franze"> Francisco José </a> Vasconcelos Parente
                <li> 25 <a asp-page="/Debora"> Débora </a> Melo Sales
                <li> 27 <a asp-page="/Arnaldo"> Arnaldo </a> Dantas Rodrigues
                <li> 27 <a asp-page="/Valeria"> Valéria </a> Andrade Linhares
                <li> 30 <a asp-page="/Florismar"> Florismar </a> Andrade Linhares
                <li> 31 <a asp-page="/AnaKarisse"> Ana Karisse </a> de Carvalho Andrade
            </ul>
        </div>
        <div class="row">
            <div class="col-md-offset-10">
                <h4>Consultar outro mês.</h4>
                <ul>
                    <li> <a asp-page="/mesJaneiro"> Janeiro </a>
                    <li> <a asp-page="/mesFevereiro"> Fevereiro </a>
                    <li> <a asp-page="/mesMarço"> Março </a>
                    <li> <a asp-page="/mesAbril"> Abril </a>
                    <li> <a asp-page="/mesMaio">  Maio </a>
                    <li> <a asp-page="/mesJunho">  Junho </a>
                    <li> <a asp-page="/mesJulho">  Julho </a>
                    <li> <a asp-page="/mesAgosto">  Agosto </a>
                    <li> <a asp-page="/mesSetembro">  Setembro </a>
                    <li> <a asp-page="/mesOutubro">  Outubro </a>
                    <li> <a asp-page="/mesNovembro">  Novembro </a>
                    <li> <a asp-page="/mesDezembro">  Dezembro </a>
                </ul>
            </div>
        </div>
    </div>