@page
@model AniversarioModel
@{
    ViewData["Title"] = "Aniversáriantes de Outubro";
}
<h4>@ViewData["Title"]</h4>

<div>
    <div class="row">
        <div class="col-md-5">
            <ul>
                <li> <h4>Dia Nome </h4>
                <li> 01 <a asp-page="/Alysson"> Alysson </a> Feijão Andrade
                <li> 02 <a asp-page="/Lidiane"> Lidiane </a> Parente Andrade
                <li> 02 <a asp-page="/Lorena"> Lorena </a> Ferreira Andrade
                <li> 02 <a asp-page="/Ruth"> Ruth </a> Ribeiro Andrade
                <li> 05 Francisca <a asp-page="/Flaviana"> Flaviana </a> de Carvalho Andrade
                <li> 07 <a asp-page="/Alberto"> Alberto </a> José B de Sabóia
                <li> 07 <a asp-page="/Mirela"> Mirela </a> Mendes de Sabóia
                <li> 08 Francisca <a asp-page="/Elenice"> Elenice </a> Parente Andrade
                <li> 08 <a asp-page="/Liliosa"> Liliosa </a> Maria Tomaz Portella
                <li> 08 <a asp-page="/Luana"> Luana </a> Amaro Andrade
                <li> 10 <a asp-page="/Filipe"> Filipe </a> Linhares Albuquerque
                <li> 10 <a asp-page="/Julia"> Júlia </a> Andrade Mira
                <li> 16 <a asp-page="/Caio"> Caio </a> Sander Andrade Portella
                <li> 18 <a asp-page="/Camila"> Camila </a> Andrade Mendes Medeiros
                <li> 23 <a asp-page="/Alex"> Alex </a> Goersch Andrade
                <li> 25 <a asp-page="/IsabellaMartins"> Isabella </a> Martins Andrade
                <li> 29 Carmem <a asp-page="/Sandra"> Sandra </a> Andrade Portella
            </ul>
        </div>
        <div class="row">
            <div class="col-md-offset-10">
                <h4>Consultar outro mês.</h4>
                <ul>
                    <li> <a asp-page="/mesJaneiro"> Janeiro </a>
                    <li> <a asp-page="/mesFevereiro"> Fevereiro </a>
                    <li> <a asp-page="/mesMarço"> Março </a>
                    <li> <a asp-page="/mesAbril"> Abril </a>
                    <li> <a asp-page="/mesMaio">  Maio </a>
                    <li> <a asp-page="/mesJunho">  Junho </a>
                    <li> <a asp-page="/mesJulho">  Julho </a>
                    <li> <a asp-page="/mesAgosto">  Agosto </a>
                    <li> <a asp-page="/mesSetembro">  Setembro </a>
                    <li> <a asp-page="/mesOutubro">  Outubro </a>
                    <li> <a asp-page="/mesNovembro">  Novembro </a>
                    <li> <a asp-page="/mesDezembro">  Dezembro </a>
                </ul>
            </div>
    </div>
</div>