@page
@model AniversarioModel
@{
    ViewData["Title"] = "Aniversáriantes de Setembro";
}
<h4>@ViewData["Title"]</h4>

<div>
    <div class="row">
        <div class="col-md-4">
            <ul>
                <li> <h4>Dia Nome </h4>
                <li> 02 <a asp-page="/Yan"> Yan </a> Lima Andrade
                <li> 03 <a asp-page="/Romulo"> Antonio </a> Teles Andrade (In memorian)
                <li> 03 <a asp-page="/Romulo"> Rômulo </a> Ribeiro Andrade
                <li> 06 <a asp-page="/Fernandinho"> Fernando </a> Antonio Farias Frota Júnior
                <li> 07 Francisco Agenor Andrade <a asp-page="/AgenorJunior"> Júnior </a>
                <li> 08 <a asp-page="/Igor"> Igor </a> Andrade Júnior
                <li> 10 <a asp-page="/Bruno"> Bruno </a> Amaro Andrade
                <li> 10 <a asp-page="/Jamile"> Jamile </a> Silva Andrade10
                <li> 10 <a asp-page="/Rosa"> Rosa </a> Maria Rios de Andrade
                <li> 15 <a asp-page="/ElzaMaria"> Elza </a> Maria Goersch Andrade Frota
                <li> 16 <a asp-page="/Adalberto"> Adalberto </a> Aguiar Albuquerque
                <li> 18 <a asp-page="/Liana"> Liana </a> Mendes Sabóia
                <li> 21 <a asp-page="/Beatriz"> Beatriz </a> Goersch Andrade Frota
                <li> 26 <a asp-page="/IgorBrito"> Igor </a> Brito Andrade
                <li> 29 <a asp-page="/MariaJose"> Maira José </a> Andrade
            </ul>
        </div>
    <div class="row">
        <div class="col-md-offset-10">
            <h4>Consultar outro mês.</h4>
            <ul>
                <li> <a asp-page="/mesJaneiro"> Janeiro </a>
                <li> <a asp-page="/mesFevereiro"> Fevereiro </a>
                <li> <a asp-page="/mesMarço"> Março </a>
                <li> <a asp-page="/mesAbril"> Abril </a>
                <li> <a asp-page="/mesMaio">  Maio </a>
                <li> <a asp-page="/mesJunho">  Junho </a>
                <li> <a asp-page="/mesJulho">  Julho </a>
                <li> <a asp-page="/mesAgosto">  Agosto </a>
                <li> <a asp-page="/mesSetembro">  Setembro </a>
                <li> <a asp-page="/mesOutubro">  Outubro </a>
                <li> <a asp-page="/mesNovembro">  Novembro </a>
                <li> <a asp-page="/mesDezembro">  Dezembro </a>
            </ul>
        </div>
    </div>
</div>