@page
@model NetosModel
@{
    ViewData["Title"] = "Netos";
}

<div class="row">
    <div class="col-md-4">
        <h4>Filhos de <b>Maria <a asp-page="/filhosConceicao"> Conceição </a> Andrade Portela</b><sub>"In Memorian"</sub></h4> 
        <ul>
        <li> <a asp-page="/netosCaio"> Caio </a> Sander Andrade Portela
        <li> Carlos <a asp-page="/netosSilvio"> Silvio </a> Andrade Portela
        <li> <a asp-page="/netosClauber"> Clauber </a> Sérgio Andrade Portela
        <li> Cadmo <a asp-page="/netosSilton"> Silton </a> Andrade Portela
        <li> Carmem <a asp-page="/netosSandra"> Sandra </a> Portella Costa
        <li> <a asp-page="/netosClaudio"> Cláudio </a> Stélio Andrade Portela
        <li> Carla <a asp-page="/netosSoraia"> Soraia </a> Portela Machado
        <li> Cátia <a asp-page="/netosSmenia"> Smênia </a> Portela
    </ul>
</div>
    <div class="col-md-4">
        <h4>Filhos de <b>José <a asp-page="/filhosJeova"> Jeová </a> Andrade</b></h4>
        <ul>
            <li> <a asp-page="/netosJeovania"> Jeovânia </a> Maria Goersch Andrade
            <li> José <a asp-page="/netosKarlos"> Karlos </a> Goersch Andrade
            <li> <a asp-page="/netosGardenia"> Gardênia </a> Goersch Andrade
            <li> <a asp-page="/netosJorge"> Jorge </a> Goersch Andrade
            <li> <a asp-page="/netosJoseMaria"> José Maria </a> Goersch Andrade
            <li> <a asp-page="/netosDoroteia"> Dorotéia </a> Goersch Andrade
            <li> José <a asp-page="/netosJeovaFilho"> Jeová </a> Andrade Filho
            <li> <a asp-page="/netosElzaMaria"> Elza </a> Maria Goersch Andrade
            <li> <a asp-page="/netosCesar"> César </a> Henrique Goersch Andrade
            <li> <a asp-page="/netosAlex"> Alex </a> Goersch Andrade
        </ul>
    </div>
    <div class="col-md-4">
        <h4>Filhos de <b><a asp-page="/filhosMariadoCarmo"> Maria do Carmo </a> Andrade</b><sub>"In Memorian"</sub></h4> 
        <ul>
            <li> Carlos <a asp-page="/netosSergio"> Sérgio </a> Andrade
            <li> <a asp-page="/netosStenio"> Stênio </a> Rubens Andrade
            <li> Francisco de Assis Andrade "<a asp-page="/netosTico"> Tico </a>"
            <li> Francisco <a asp-page="/netosAgenor"> Agenor </a> Andrade Júnior
            <li> <a asp-page="/netosPaulo"> Paulo </a> César Andrade
            <li> <a asp-page="/netosAlexandre"> Alexandre </a> Andrade
            <li> Antonia <a asp-page="/netosTely"> Tely </a> Andrade
            <li> <a asp-page="/netosJamile"> Jamile </a> Silva Andrade
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h4>Filhos de <b><a asp-page="/filhosFloranise"> Florinda Nise </a> Andrade Melo</b><sub>"In Memorian"</sub></h4> 
        <ul>
            <li> <a asp-page="/netosSolange"> Solange </a> Maria Melo Soares
            <li> <a asp-page="/netosSheila"> Sheila </a> Melo Vasconcelos
            <li> <a asp-page="/netosSelene"> Selene </a> Andrade Melo Soares
        </ul>
    </div>
    <div class="col-md-4">
        <h4>Filhos de <b><a asp-page="/filhosAntonio"> Antonio </a> Teles Andrade</b><h6>"In Memorian"</h6></h4> 
        <ul>
            <li> Antonio <a asp-page="/netosRomulo"> Rômulo </a> Ribeiro Andrade <sub>"In Memorian"</sub>
            <li> <a asp-page="/netosRuth"> Ruth </a> Ribeiro Andrade
            <li> Fátima <a asp-page="/netosRachel"> Rachel </a> Ribeiro Andrade
        </ul>
    </div>
    <div class="col-md-4">
        <h4>Filhos de <b><a asp-page="/filhosFlorismar"> Florismar </a> Andrade Linhares</b></h4>
        <ul>
            <li> <a asp-page="/netosAnaTely"> Ana Tely </a> Linhares Rodrigues
            <li> <a asp-page="/netosValéria"> Valéria </a> Andrade Linhares
            <li> <a asp-page="/netosKelva"> Kelva </a> Linhares Albuquerque
            <li> <a asp-page="/netosEmanuel"> Emanuel </a> Andrade Linhares
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h4>Filhos de <b><a asp-page="/filhosMariaJose"> Maria José </a> Andrade</b></h4>
        <ul>
            <li> Antonia <a asp-page="/netosTely"> Tely </a> Andrade
            <li> Francisco <a asp-page="/netosMiltonNeto"> Milton </a> Mendes Neto
            <li> <a asp-page="/netosLiana"> Liana </a> Mendes de Sabóia
            <li> <a asp-page="/netosCamila"> Camila </a> Mendes Medeiros
        </ul>
    </div>
    <div class="col-md-4">
        <h4>Filhos de <b>João <a asp-page="/filhosEdson"> Edson </a> Andrade</b></h4> 
        <ul>
            <li> <a asp-page="/netosThales"> Thales </a> Damasceno Andrade 
            <li> <a asp-page="/netosThiago"> Thiago </a> Damasceno Andrade
            <li> João <a asp-page="/netosEdsonFilho"> Edson </a> Andrade Filho
        </ul>
    </div>
    <div class="col-md-4">
        <h4>Filhos de <b>Francisco <a asp-page="/filhosEdmilson"> Edmilson </a> Andrade</b></h4> <sub>"In Memorian"</sub>
        <ul>
            <li> <a asp-page="/netosTatiana"> Tatiana </a> Feijão Andrade
            <li> <a asp-page="/netosIago"> Iago </a> Feijão Andrade
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h4>Filhos de <b>Pedro <a asp-page="/filhosEdilson"> Edilson </a> Andrade</b></h4>
        <ul>
            <li> <a asp-page="/netosLiliane"> Liliane </a> Parente Andrade
            <li> <a asp-page="/netosElane"> Elane </a> Andrade Storino
            <li> <a asp-page="/netosLidiane"> Lidiane </a> Parente Andrade
        </ul>
    </div>
    <div class="col-md-4">
        <h4>Filhos de <b><a asp-page="/filhosIsabel"> Isabel </a> Andrade</b></h4>
        <ul>
            <li> <a asp-page="/netosLarrisa"> Larrisa </a> Andrade Sousa
            <li> <a asp-page="/netosIsabelle"> Isabelle </a> Andrade Sousa
            <li> <a asp-page="/netosDanieleo"> Daniele </a> Andrade Sousa
        </ul>
    </div>
</div>